@mixin drop() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn() {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;

  border: none;
  outline:none;

  box-sizing: border-box;

  cursor: pointer;
}

@mixin clearfix() {
  &:after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin container() {
  width: 280px;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;


  @media ($tablet-widths) {
    width: 620px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media ($desktop-widths) {
    width: 940px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
