@mixin drop() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn() {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;

  border: none;
  outline:none;

  box-sizing: border-box;

  cursor: pointer;
}

@mixin clearfix() {
  &:after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin container() {
  width: 280px;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-widths) {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-widths) {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@mixin hidden-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
