@mixin drop() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn() {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;

  border: none;
  outline:none;

  box-sizing: border-box;

  cursor: pointer;
}
