@mixin drop() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn() {
  padding: 5px 15px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background: #2aab6d;

  border: none;
  border-radius: 4px;
  outline:none;

  box-sizing: border-box;
}
