@import "global/fonts.scss";

@import "blocks/body.scss";

@import "blocks/page-header.scss";

@import "blocks/main-nav.scss";

@import "blocks/download.scss";

@import "blocks/advantages.scss";

@import "blocks/reviews.scss";

@import "blocks/page-footer";

@import "blocks/prices.scss";








