@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2'),
      url('../fonts/opensans.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansbold.woff2'),
      url('../fonts/opensansbold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2'),
      url('../fonts/opensanslight.woff');
  font-weight: 400;
  font-style: normal;
}
