.add-photo {
  padding-top: 22px;
}

.add-photo__title {
  padding-bottom: 75px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.add-photo__title--part-top,
.add-photo__title--part-bottom {
  display: block;
  text-align: center;
}

.add-photo__content {
  @include container;

  padding-top: 18px;
  padding-bottom: 34px;

  border-bottom: 2px solid #dddfe0;
}

.add-photo__picture {
  margin-bottom: 35px;
}

.add-photo__tools {
  margin-bottom: 38px;

  display: flex;
  justify-content: space-around;
}

.tool {
  @include btn;
  @include hidden-text;

  display: block;
  width: 45px;
  height: 45px;
}

.add-photo__range {
  padding-left: 18px;
}

.add-photo__line-range {
  position: relative;

  display: block;
  width: 240px;
  height: 2px;
  background: #283645;
}

.add-photo__toggle-range {
  position: absolute;
  top: -6px;
  left: 193px;

  display: block;
  width: 10px;
  height: 10px;

  background: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
}

.add-photo__wrapper-btn {
  @include container;

  display: flex;
  flex-direction: column;

  padding-top: 37px;
  padding-bottom: 26px;
}

.add-photo__btn {
  @include btn;

  padding-top: 8px;
  padding-bottom: 11px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 12px;

  text-align: center;
  color: #d22856;

  background: transparent;
  border: 3px solid #d22856;
  border-radius: 30px;
}

.add-photo__btn {
  width: 100%;
}
