.advantages {
  padding-top: 35px;

  @include container;

  box-sizing: border-box;
}

.advantages-title {
  text-align: center;
}

.advantages__list {
  @include drop;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 300px;

  background: #f2f2f2;
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 84px 460px;
}

@media ($tablet-widths) {
  .advantages {
    padding-top: 50px;
  }

  .advantages-title {
    width: 600px;
  }

  .advantages__list {
    max-width: 310px;
    padding-bottom: 0;
    padding-left: 330px;


    background-position: 20px 0px;
  }
}
