main {
  display: block;
}

.advantages {
  display: flex;
  flex-direction: column;
}


.advantages__title-wrapper {
  padding-top: 40px;

  @media (min-width: $tablet-widths) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 72px;
  }
}

.advantages-title {
  margin: 0;
  @include container;

  font-size: 24px;
  line-height: 29px;
  font-weight: 400;

  text-align: center;

  @media (min-width: $tablet-widths) {
    margin-bottom: 45px;

    font-size: 40px;
    line-height: 47px;
  }

  @media (min-width: $desktop-widths) {
    margin-bottom: 76px;

    font-size: 50px;
    line-height: 57px;
  }
}

.advantages-title__half {
  display: block;

  width: 210px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-widths) {
    margin-bottom: 2px;
  }
}

.advantages-title__half--top {
  @media (min-width: $tablet-widths) {
    width: 600px;
  }

  @media (min-width: $desktop-widths) {
    width: 800px;
    margin-bottom: 4px;
  }
}

.advantages-title__half--bottom {
  @media (min-width: $tablet-widths) {
    width: 345px;
  }

  @media (min-width: $desktop-widths) {
    width: 425px;
  }
}
.advantages__list-wrapper {
  background: #f2f2f2;

  background-image: url(../../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 35px;

  @media (min-width: $tablet-widths) {
    background-size: 100% 55px;
  }

  @media (min-width: $desktop-widths) {
      background-size: 100% 115px;
  }
}

.advantages__list {
  @include drop;
  @include container;

  padding-top: 66px;
  padding-bottom: 305px;

  text-align: center;

  background-image: url(../../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center 509px;
  background-size: 157px 320px;
  /*ретина*/
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../../img/iphone-screen-mobile@2x.png);
  }

  @media (min-width: $tablet-widths) {
    padding-top: 60px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    text-align: left;

    background-image: url(../../img/iphone-screen-3-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: 20px 0;
    background-size: 268px 481px;
    /*ретина*/
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../../img/iphone-screen-3-tablet@2x.png);
    }
  }

  @media (min-width: $desktop-widths) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 0;

    background: none;
  }
}

.advantage {
  padding-top: 16px;

  margin-bottom: 13px;

  @media (min-width: $tablet-widths) {
    width: 310px;
    padding-top: 14px;
    padding-right: 10px;
    margin-bottom: 18px;

    box-sizing: border-box;
  }

  @media (min-width: $desktop-widths) {
    position: relative;

    width: 235px;
    padding-top: 356px;
    padding-right: 0;

    text-align: center;

    background-repeat: no-repeat;
    background-size: 292px 302px;

    &:first-child {
      background-image: url(../../img/iphone-screen-1-desktop@1x.png);
      background-position: center 0;
      /*ретина*/
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../../img/iphone-screen-1-desktop@2x.png);
      }
    }

    &:nth-child(2) {
      background-image: url(../../img/iphone-screen-2-desktop@1x.png);
      background-position: center 0;
      /*ретина*/
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../../img/iphone-screen-2-desktop@2x.png);
      }
    }

    &:last-child {
      background-image: url(../../img/iphone-screen-3-desktop@1x.png);
      background-position: center 0;
      /*ретина*/
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../../img/iphone-screen-3-desktop@2x.png);
      }
    }
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 27px;
  font-weight: 700;

  @media (min-width: $desktop-widths) {
    font-size: 30px;
    line-height: 32px;

    margin-bottom: 22px;
  }
}

.advantage__text {
  margin: 0;

  @media (min-width: $desktop-widths) {
    font-size: 18px;
    line-height: 30px;
  }
}
