body {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', 'Arial', sans-serif;
}



img {
  max-width: 100%;
  height: auto;

  border: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media ($desktop-widths) {
  body {
    position: relative;
  }
}
