.competition__contacts-wrapper {
  @include container;

  padding-top: 27px;
  padding-bottom: 47px;

  @media (min-width: $tablet-widths) {
    order: 2;
    padding-top: 12px;
  }

  @media (min-width: $desktop-widths) {
    min-width: 100%;

    padding-left: 0;
    padding-right: 0;
  }
}

.competition-contacts {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-widths) {
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 37px;
    padding-bottom: 21px;

    border: 2px solid #e5e5e5;
    border-radius: 5px;
  }

  @media (min-width: $desktop-widths) {
    width: auto;
    padding-top: 35px;
    padding-bottom: 7px;
  }
}

.competition-contacts__title {
  display: none;

  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-widths) {
    display: block;
  }
}

.competition-contacts__list {
  @include drop;

  @media (min-width: $desktop-widths) {
    display: flex;
    justify-content: space-between;
  }
}

.competition-contacts__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
  }

  @media (min-width: $desktop-widths) {
    width: 46%;
    margin-bottom: 0;
  }
}

.competition-contacts__item:last-child {
  margin-bottom: 0;
}

.competition-contacts__label {
  margin-left: 23px;
  margin-bottom: 5px;

  text-transform: uppercase;
  color: #d22856;
  line-height: 30px;

  @media (min-width: $tablet-widths) {
    order: 1;

    margin-left: 19px;
  }
}

.competition-contacts__input {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-right: 23px;
  padding-left: 23px;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    order: 0;

    margin-bottom: 10px;
  }
}
