.competition__apps-wrapper {
  padding-top: 41px;
  padding-bottom: 45px;

  @media (min-width: $tablet-widths) {
    order: 1;

    padding-top: 18px;
  }

  @media (min-width: $desktop-widths) {
    width: 50%;
    min-width: 440px;
    margin: 0;
    box-sizing: border-box;

    padding-top: 13px;

  }
}

.competition-apps {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 38px;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    padding: 0;
    padding-top: 48px;
    padding-bottom: 59px;
    margin: 0;

    border: 2px solid #e5e5e5;
    border-radius: 5px;
  }

  @media (min-width: $desktop-widths) {
    width: 100%;
    padding-top: 50px;
  }
}

.competition-apps__title {
  width: 200px;
  margin: 0 auto;

  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-widths) {
    width: auto;
    width:320px;
    margin: 0 auto;
  }
}

.competition-apps__list {
  @include drop;
  @media (min-width: $tablet-widths) {
    padding-left: 58px;
  }
}

.competition-apps__item {
  margin-bottom: 45px;
}

.competition-apps__item:last-child {
  margin: 0;
}

.competition-apps__label {
  position: relative;
  display: inline-block;
  padding-left: 70px;

  font-size: 18px;
  line-height: 30px;
  color: #283645;

  @media (min-width: $tablet-widths) {
    padding-left: 59px;
  }
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  &:before {
    display: inline-block;

    content: "";
    position: absolute;

    height: 35px;
    width: 35px;

    border: 2px solid #e5e5e5;
    border-radius: 50%;

    top: -3px;
    left: 0;
  }

  &:after {
    display: none;

    content: "";
    position: absolute;

    height: 15px;
    width: 15px;

    background: #d22856;

    border:none;
    border-radius: 50%;

    top: 8px;
    left: 12px;
  }

  &:hover {
    &:before {
      border: 2px solid #323f4e;
    }
  }

  &:active {
    &:before {
      border: 2px solid #d22856;
    }
    &:after {
      display: inline-block;
    }
  }
}

input[type="radio"]:checked + label {
  &:after {
    display: inline-block;
  }

  &:active {
    &:after {
      display: none;
    }
  }
}
