.competition-present {
  outline: 1px solid #c91353;

  h4 {
    text-transform: uppercase;
    color: #d22856;
    line-height: 18px;
  }
}

.competition-present__item {
  margin-bottom: 15px;
}

.competition-present__item:last-child {
  margin-bottom: 40px;
}

.competition-present__label {
  margin-bottom: 5px;

  text-transform: uppercase;
  color: #d22856;
  line-height: 30px;
}

.competition-present__input {
  padding: 5px 15px;

  font-size: 18px;
  line-height: 30px;

  box-sizing: border-box;
}
