.promotion {
  display: none;

  width: 300px;

  padding-top: 90px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    display: block;
  }

  @media (min-width: $desktop-widths) {
    padding-left: 31px;
    padding-right: 35px;
    padding-top: 105px;
    padding-bottom: 54px;
  }
}

.promotion__text {
  color: #fff;

  font-size: 40px;
  line-height: 44px;
  font-weight: 400;

  text-align: center;

  @media (min-width: $tablet-widths) {
    margin: 0;
    line-height: 49px;
  }

  @media (min-width: $desktop-widths) {
    font-size: 50px;
    line-height: 59px;
  }
}

.download__content {
  @include container;

  padding-top: 390px;

  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-size: 258px 286px;
  background-repeat: no-repeat;
  background-position: center 108px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/iphone-hand-mobile@2x.png);
    background-size: 258px 286px;
  }

  @media (min-width: $tablet-widths) {
    padding-top: 0;
    background: transparent;

    background-image: url(../img/iphone-hand-tablet@1x.png);
    background-size: 700px 545px;
    background-repeat: no-repeat;
    background-position: center 72px;

    /*ретина*/
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-tablet@2x.png);
      background-size: 700px 545px;
    }
  }

  @media (min-width: $desktop-widths) {
    background-image: url(../img/iphone-hand-desktop@1x.png);
    background-size: 1050px 645px;
    background-repeat: no-repeat;
    background-position: 27px 90px;
    /*ретина*/
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-desktop@2x.png);
      background-size: 1050px 645px;
    }
  }
}

.download__block {
  padding-top: 33px;
  padding-bottom: 30px;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: column;

    width: 300px;
    padding: 0;
    padding-bottom: 109px;
    margin: 0;
  }

  @media (min-width: $desktop-widths) {
    padding-bottom: 120px;
  }
}

/*-------КНОПКА СКАЧАТЬ ПРИЛОЖЕНИЕ-------*/

.download__btn {
  display: block;
  width: 100%;
  padding: 14px 5px;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 50px;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-widths) {
    margin-bottom: 62px;

    font-size: 21px;
    line-height: 22px;
  }
}

.download__btn:hover {
  color: #d22856;
  background: #fff;
}

.download__btn:active {
  color: rgba(210, 40, 86, 0.3);
  background: #fff;
}

.download__links {
  display: flex;
  justify-content: space-around;

  margin-bottom: 20px;
  padding: 0 20px;

  @media (min-width: $tablet-widths) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-widths) {
    margin-bottom: 55px;
  }
}

.download__link {
  display: block;
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;

  @include hidden-text;
}

.download__link--apple {
  background-image: url(../img/logo-apple.svg);
  background-position: 8px 3px;

  @media (min-width: $tablet-widths) {
    background-position: 14px 3px;
  }
}

.download__link--android {
  background-image: url(../img/logo-android.svg);
  background-position: 8px 11px;

  @media (min-width: $tablet-widths) {
    background-position: 9px 11px;
  }
}

.download__link--windows {
  background-image: url(../img/logo-microsoft.svg);
  background-position: 8px 14px;

  @media (min-width: $tablet-widths) {
    background-position: 0 16px;
  }
}

.download__text {
  margin: 0;

  font-weight: 400;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-widths) {
    font-size: 18px;
    line-height: 24px;
  }
}
