.wrapper--download {
  padding-top: 395px;
}

.promotion-text {
    display: none;

    width: 240px;
    margin: 0;
    margin-bottom: 30px;

    color: #fff;

    font-size: 40px;
    line-height: 44px;
    font-weight: 400;

    text-align: center;
  }

.download {
  @include container;
  padding-top: 28px;
  padding-bottom: 28px;

  background: #1d2631;
}

.download__btn {
  display: block;
  width: 280px;
  padding: 15px 5px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 50px;

  box-sizing: border-box;
}

.download__links {
  margin-bottom: 25px;
  text-align: center;
}

.download__text {
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}


/*ПЛАНШЕТНАЯ ВЕРСИЯ*/
@media ($tablet-widths) {
  .wrapper--download {
    padding-top: 0;

    background-image: url(../../img/iphone-hand-mobile@1x.png),
                    url(../../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 300px 90px, 0 0;

    background-size: 50%, cover;
  }

  .inner-wrapper--download {
    display: flex;
    flex-direction: column;
    @include container;
  }

  .promotion-text {
    display: block;
    padding: 40px;
    margin-bottom: 30px;
  }

  .download {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background: none;
  }

  .download__btn,
  .download__links,
  .download__text {
    width: 300px;
    margin: 0;
  }

  .download__btn {
    margin-bottom: 40px;
  }

  .download__links {
    margin-bottom: 35px;
  }

  .download__text {
    margin-bottom: 100px;
  }
}

/*ДЕСКТОПНАЯ ВЕРСИЯ*/
@media ($desktop-widths) {
  .wrapper--download {
    background: none;
  }
}

