.wrapper--download {
  background: #1d2631;

  background-image: url(../../img/iphone-hand-mobile@1x.png),
                    url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 25px 113px, -170px -65px;
}

.download {
  padding: 28px 0;
  padding-top: 395px;

}

.download__btn {
  display: block;
  width: 280px;
  padding: 15px 5px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 50px;

  box-sizing: border-box;
}

.download__links {
  margin-bottom: 25px;
  text-align: center;
}

.download__text {
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/*ПЛАНШЕТНАЯ ВЕРСИЯ*/
@media ($tablet-widths) {
  .wrapper--download {
    background-image: url(../../img/iphone-hand-mobile@1x.png),
                    url(../../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 300px 113px, -170px 0;

    background-size: auto, cover;
  }
  .download {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    top: 0;
    left: 0;
  }

  .download__btn,
  .download__links,
  .download__text {
    width: 300px;
    margin: 0;
  }

  .download__btn {
    margin-bottom: 40px;
  }

  .download__links {
    margin-bottom: 35px;
  }

  .download__text {
    margin-bottom: 100px;
  }
}

/*ДЕСКТОПНАЯ ВЕРСИЯ*/
@media ($desktop-widths) {
  .wrapper--download {
    background: none;
  }
}

