.main-nav {

  color: #ffffff;
}

.main-nav__logo {
  display: none;
}

.main-nav__list {
  @include drop;
}

.main-nav__item {
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
}

.main-nav__link {
  display: block;
  padding: 20px 20px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

@media ($tablet-widths) {
  .main-nav {

  }
}

@media ($desktop-widths) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
  }

  .main-nav__logo {
    display: block;
  }

  .main-nav__list {
    @include clearfix;
  }

  .main-nav__item {
    float: left;
    border: none;
  }
}
