.page-header__top-wrapper {
  @media (min-width: $desktop-widths) {
    background: rgba(0, 0, 0, 0.3);
  }
}

.page-header__top {
  background: #283645;

  @media (min-width: $desktop-widths) {
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    background: transparent;
  }
}

.page-header__logo-block {
  @include container;
  display: flex;
  justify-content: space-between;

  padding-top: 23px;
  padding-bottom: 22px;

  border-bottom: 1px solid #000;

  @media (min-width: $tablet-widths) {
    padding-top: 28px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-widths) {
    min-width: auto;
    padding-top: 22px;
    margin: 0;
  }
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 24px;

  svg {
    width: 75px;
    height: 24px;
    fill: #fff;

    .page-header__logo--tablet {
      display: none;
    }

    .page-header__logo--desktop {
      display: none;
    }
  }

  @media (min-width: $tablet-widths) {
    width: 150px;
    height: 40px;

    svg {
      width: 150px;
      height: 40px;
      .page-header__logo--mobile {
        display: none;
      }

      .page-header__logo--tablet {
        display: block;
      }

      .page-header__logo--desktop {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-widths) {
    width: 150px;
    height: 50px;

    svg {
      width: 150px;
      height: 50px;
      .page-header__logo--mobile {
        display: none;
      }
      .page-header__logo--tablet {
        display: none;
      }
      .page-header__logo--desktop {
        display: block;
      }
    }
  }
}

.page-header__logo--form,
.page-header__logo--photo {
  &:hover {
    svg {
        fill: #d22856;
      }
    }
  &:active {
    svg {
      fill: #d22856;
      opacity: 0.3;
    }
  }
}

.page-header__logo--desktop {
  svg {
    fill: #fff;
  }
  .page-header__logo--desktop-star {
    fill:#d22856;
  }
  &:hover {
    svg {
        fill: #d22856;
      }
    }

  &:active {
    svg {
      fill: #d22856;
      opacity: 0.3;
    }
  }
}

.main-nav {
  color: #ffffff;

  @media (min-width: $tablet-widths) {
  }

  @media (min-width: $desktop-widths) {
    width: 630px;
    padding-right: 3px;
    margin: 0;

    box-sizing: border-box;
  }
}

.main-nav__list {
  @include drop;

  @media (min-width: $desktop-widths) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;

  @media (min-width: $desktop-widths) {
    border: none;
  }
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  cursor: pointer;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: $tablet-widths) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 38px;
    padding-bottom: 41px;
    padding-left: 0;
    padding-right: 0;

    font-weight: normal;
    text-transform: none;

    &:hover {
      color: #d22856;
    }

    &:active {
      color: #6a747f;
    }

    &--active {
      color: #fff;
      &::after {
        content: "";
        display: block;
        height: 2px;
        left: 0;
        right: 0;
        background: #fff;
      }
      &:hover {
          color: #d22856;
          &::after {
            background: #d22856;
          }
      }
    }
  }
}


/*--------КНОПКА ОТКРЫТЬ МЕНЮ--------*/

.btn-toggle {
  @include btn;
  padding: 0;

  width: 25px;
  height: 25px;

  background: transparent;

  .btn-toggle__svg {
    width: 25px;
    height: 25px;
  }

  .btn-toggle__opened {
    display: block;

    fill: #fff;
  }

  .btn-toggle__closed {
    display: none;
  }

    &:hover {
      .btn-toggle__opened {
      fill: #d22856;
      }
    }

    &:active {
      .btn-toggle__opened {
      fill: #d22856;
      opacity: 0.3;
      }
    }

  @media (min-width: $tablet-widths) {
    align-self: flex-end;
  }

  @media (min-width: $desktop-widths) {
    display: none;
  }
}

.btn-toggle .btn-toggle__cross{
  fill: #fff;
}

.btn-toggle:hover .btn-toggle__cross{
  fill: #d22856;
}

.btn-toggle:active .btn-toggle__cross{
  fill: rgba(210, 40, 86, 0.3);
}


/*-------СТИЛИ ПРИ ЗАКРЫТОМ МЕНЮ-------*/

.page-header--menu-closed {
  background-position: 0 175px, -190px 0;
  /*-----кнопка открыть меню-----*/
  .btn-toggle {
    width: 50px;
    height: 25px;

    .btn-toggle__svg {
      width: 50px;
      height: 25px;

      .btn-toggle__opened {
        display: none;
      }

      .btn-toggle__closed {
        display: block;

        fill: #fff;
      }
    }

    &:hover {
      .btn-toggle__closed {
      fill: #d22856;
      }
    }

    &:active {
      .btn-toggle__closed {
      fill: #d22856;
      opacity: 0.3;
      }
    }
  }

  .main-nav {
    display: none;

    @media (min-width: $desktop-widths) {
      display: block;
    }
  }

  .page-header__top {
    background: none;
    background: rgba(0, 0, 0, 0.3);
  }
}

