.main-nav {
  color: #ffffff;

}

.main-nav__top {
  display: flex;
  justify-content: space-between;

  padding-top: 21px;
  padding-bottom: 18px;

  border-bottom: 1px solid #000;
  @include container;
}

.main-nav__logo {
  display: block;
  width: 75px;
  height: 30px;

  background-image: url(../../img/logo-pink-white-mobile.svg);
  background-repeat: no-repeat;

  @include hidden-text;
}

.btn-toggle {
  @include btn;
  @include hidden-text;

  width: 24px;
  height: 23px;

  background-image: url(../../img/icon-menu-cross.svg);
  background-repeat: no-repeat;
}

.main-nav__list {
  @include drop;
}

.main-nav__item {
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}


/*-------ПЛАНШЕТНАЯ ВЕРСИЯ-------*/

@media (min-width: $tablet-widths) {
  .main-nav__top {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  .main-nav__link {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}


/*-------ДЕСКТОПНАЯ ВЕРСИЯ-------*/

@media (min-width: $desktop-widths) {
  .main-nav {
    background: none;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__top {
    width: 150px;
    margin: 0;
  }

  .main-nav__list {
    width: 625px;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__logo {
    display: block;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__link {
    padding: 41px 0;

    font-weight: normal;
    text-transform: none;
  }
}
