.page-header__top {

  @media (min-width: $tablet-widths) {

  }

  @media (min-width: $desktop-widths) {
    max-width: 940px;
    margin: 0 auto;

    padding-left: 0;
    padding-right: 0;

    display: flex;
    justify-content: space-between;

    background: none;
  }
}

.page-header__logo-block {
  @include container;
  display: flex;
  justify-content: space-between;

  padding-top: 21px;
  padding-bottom: 18px;

  border-bottom: 1px solid #000;

  @media (min-width: $tablet-widths) {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-widths) {
    width: 150px;
    padding-top: 28px;
    margin: 0;
  }
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 30px;

  background-image: url(../../img/logo-pink-white-mobile.svg);
  background-repeat: no-repeat;

  @include hidden-text;

  @media (min-width: $desktop-widths) {
    width: 150px;
    height: 50px;
  }
}

.btn-toggle {
  @include btn;
  @include hidden-text;

  width: 24px;
  height: 23px;

  background-image: url(../../img/icon-menu-cross.svg);
  background-repeat: no-repeat;

  @media (min-width: $desktop-widths) {
    display: none;
  }
}

.main-nav {
  color: #ffffff;

  @media (min-width: $tablet-widths) {

  }

  @media (min-width: $desktop-widths) {
    width: 620px;
    margin: 0;
  }
}


.main-nav__list {
  @include drop;

  @media (min-width: $desktop-widths) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;

  @media (min-width: $desktop-widths) {
    border: none;
  }
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-widths) {
    padding-top: 14px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-widths) {
    padding: 41px 0;

    font-weight: normal;
    text-transform: none;
  }
}
