.main-nav {
  background: #283645;
  color: #ffffff;
}

.main-nav__logo {
  display: none;
}

.main-nav__list {
  @include drop;
}

.main-nav__item {
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
}

.main-nav__link {
  display: block;
  padding: 20px 20px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

@media ($tablet-widths) {

}

/*ДЕСКТОПНАЯ ВЕРСИЯ*/
@media ($desktop-widths) {
  .main-nav {
    background: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__logo {
    display: block;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__link {
    font-weight: normal;
    text-transform: none;
  }
}
