.main-nav {
  background: #283645;
  color: #ffffff;

  outline: 1px solid #c91353;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {

  outline: 1px solid #c91353;

}

.main-nav__link {
  display: block;
  padding: 5px 20px;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
