.contacts {
  @include container;

  padding-top: 40px;
  padding-bottom: 15px;

  text-align: center;

  background: #fff;

  @media (min-width: $tablet-widths) {
    padding-top: 50px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 65px;
    padding-bottom: 10px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 400;

  text-transform: none;

  @media (min-width: $tablet-widths) {
    width: 370px;
    margin: 0 auto;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-widths) {
    width: 470px;
    margin-bottom: 14px;

    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__block {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    padding-top: 44px;
  }

  @media (min-width: $desktop-widths) {
    height: auto;
    justify-content: space-between;
  }
}

.contact {
  margin-bottom: 27px;

  @media (min-width: $tablet-widths) {
    width: 50%;
    margin-bottom: 48px;

    text-align: center;
  }

  @media (min-width: $desktop-widths) {
    width: 31%;
    margin: 0;
  }
}

.contact__title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet-widths) {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-widths) {
    margin-bottom: 26px;
  }
}

.contact__text {
  margin: 0;

  color: #d22856;

  font-size: 24px;
  line-height: 28px;
  font-weight: 400;

  text-decoration: none;
}

.contact-email .contact__text {
  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: #bec2c7;
    text-decoration: none;
  }
}

.contact-address {
  @media (min-width: $tablet-widths) {
    width: 35%;
    margin-bottom: 28px;
  }
}
.contact-email {
  @media (min-width: $desktop-widths) {
    order: 2;
  }
}

.contact-address {
  @media (min-width: $desktop-widths) {
    width: 25%;
    order: 1;
  }
}

.map {
  display: block;
  position: relative;

  max-height: 200px;

  padding-bottom: 62%;

  background-image: url(../../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  &:before {
    content: "";
    position: absolute;

    display: block;
    width: 100%;
    height: 35px;

    background-image: url(../../img/bg-triangle-white-footer.svg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% 35px;

    z-index: 10;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../../img/bg-map-mobile@2x.jpg);
  }

  @media (min-width: $tablet-widths) {
    max-height: 380px;

    padding-bottom: 57%;

    background-image: url(../../img/bg-map-tablet@1x.jpg);

    &:before {
    height: 70px;

    background-size: 100% 70px;
  }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../../img/bg-map-tablet@2x.jpg);
    }
  }

  @media (min-width: $desktop-widths) {
    max-height: 500px;
    padding-bottom: 53%;

    background-image: url(../../img/bg-map-desktop@1x.jpg);

    &:before {
    height: 115px;

    background-size: 100% 115px;
  }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../../img/bg-map-desktop@2x.jpg);
    }
  }
}

.page-footer__part-bottom {
  display: flex;

  flex-direction: column;
  align-items: center;

  @include container;

  padding-bottom: 36px;
  padding-top: 40px;

  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 38px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.page-footer__part-bottom--main {
  display: none;
}

.page-footer__logo {
  width: 150px;
  margin-bottom: 40px;

  @media (min-width: $tablet-widths) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-widths) {
    max-width: 640px;
  }
}

.page-footer__logo-link {
  display: block;
  width: 150px;
  height: 40px;

  svg {
    pointer-events: none;
  }
  .page-footer__logo-desktop {
      display: none;
  }

  .page-footer__logo-mobile {
    .text-blue {
      fill:#283645;
    }
    .glasses-pink {
      fill: #d22856;
    }
  }

  &:hover {
    .text-blue {
      fill:#d22856;
    }
  }

  &:active {
    .text-blue {
      fill:#283645;
      opacity: 0.3;
    }
    .glasses-pink {
      fill: #d22856;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-widths) {
    .page-footer__logo-mobile {
      .text-blue {
        fill:#283645;
      }
      .glasses-pink {
        fill: #d22856;
      }
    }
    &:hover {
      .text-blue {
        fill:#d22856;
      }
    }

    &:active {
      .text-blue {
        fill:#283645;
        opacity: 0.3;
      }
      .glasses-pink {
        fill: #d22856;
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $desktop-widths) {
    .page-footer__logo-desktop {
      display: block;
    }
    .page-footer__logo-mobile {
      display: none;
    }
    .pink-blue,
    .star-blue {
      fill: #283645;
    }

    .star-pink,
    .glasses-pink {
      fill: #d22856;
    }

    &:hover {
      .pink-blue,
      .star-blue {
        fill: #d22856;
      }
    }

    &:active {
      .pink-blue,
      .star-blue {
      fill: #283645;
      opacity: 0.3;
      }

      .star-pink,
      .glasses-pink {
        opacity: 0.3;
      }
    }
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;

  width: 180px;
  margin-bottom: 40px;

  text-align: center;

  @media (min-width: $tablet-widths) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-widths) {
    max-width: 320px;

    text-align: center;
  }
}

.social__btn {
  @include hidden-text;

  display: block;
  width: 47px;
  height: 47px;

  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border: 3px solid #e9ebec;
    opacity: 0.3;
  }
}

.social__btn--tw {
  background-image: url(../../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: 15px 17px;
}

.social__btn--fb {
  background-image: url(../../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: 19px 13px;
}

.social__btn--ytb {
  background-image: url(../../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: 16px 16px;
}


.page-footer__copyright {
  font-size: 0;
  text-align: right;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    padding-top: 14px;
  }

  @media (min-width: $desktop-widths) {
    max-width: 165px;
    padding-top: 10px;
  }
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 13px;

  font-size: 14px;
  line-height: 32px;

  @media (min-width: $desktop-widths) {
    margin-right: 19px;

    font-size: 18px;
  }
}

.copyright__link {
  font-size: 15px;
  line-height: 35px;

  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 35px;

  &:hover svg {
    fill: #283645;
  }

  &:active svg {
    fill: #bec2c7;
  }
}
