.page-footer--form {
  @include container;

  padding-top: 55px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-widths) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 24px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 7px;
    padding-bottom: 70px;
  }
}

.page-footer__logo--form {
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: $tablet-widths) {
    margin: 0;
  }
}

.page-footer__social--form {
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-widths) {
    margin: 0;
  }
}

.page-footer__copyright--form {
  width: 130px;
  margin: 0 auto;

  @media (min-width: $tablet-widths) {
    margin: 0;
  }
}
