.page-footer {
  padding-bottom: 0;
  text-align: center;

  box-sizing: border-box;

  @include container;
}
.contacts__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;

  text-transform: uppercase
}

.contact__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.contact__text {
  color: #d22856;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.map {
  display: block;
  width: 320px;
  height: 200px;
  background-image: url(../../img/bg-map-mobile@1x.png);
}

.page-footer__socials {
  display: none;
}

@media ($tablet-widths) {
  .contacts__wrapper {
    display: flex;
  }

  .contacts__title {
    width: 370px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .contact {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }

  .contact-email {
    order: 1;
  }
  .contact-address {
    order: 0;
  }
  .map {
    display: block;
    width: 700px;
    height: 380px;
    background-image: url(../../img/bg-map-mobile@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-footer__socials {
    display: flex;
    justify-content: space-between;

    outline: 1px solid #000;
  }

  .page-footer__logo {
    width: 95px;
  }

  .page-footer__social {
    width: 320px;
    text-align: center;
  }

  .page-footer__copyright {
    width: 150px;
    text-align: right;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {

    outline: 1px solid #000;
  }
}

@media ($desktop-widths) {
  .map {
    display: block;
    width: 1200px;
    height: 500px;
    background-image: url(../../img/bg-map-mobile@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-footer__socials {
    display: flex;
    outline: 1px solid #000;
    justify-content: space-between;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    outline: 1px solid #000;
  }

  .page-footer__logo {
    max-width: 640px;
  }

  .page-footer__social {
    max-width: 320px;
    text-align: center;
  }

  .page-footer__copyright {
    max-width: 165px;
    text-align: right;
  }
}
