.page-footer {
  padding: 20px;
  padding-bottom: 0;

  box-sizing: border-box;

  @include container;
}
.contacts__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;

  text-transform: uppercase
}

.contact__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.contact__text {
  color: #d22856;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.page-footer__socials {
  display: none;
}

@media ($tablet-widths) {
  .page-footer__contacts {
    display: flex;
  }

  .contact {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }

  .page-footer__socials {
    display: flex;
    justify-content: space-between;

    outline: 1px solid #000;
  }

  .page-footer__logo {
    width: 95px;
  }

  .page-footer__social {
    width: 320px;
    text-align: center;
  }

  .page-footer__copyright {
    width: 150px;
    text-align: right;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {

    outline: 1px solid #000;
  }
}

@media ($desktop-widths) {
  .page-footer__socials {
    display: flex;
    outline: 1px solid #000;
    justify-content: space-between;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    outline: 1px solid #000;
  }

  .page-footer__logo {
    max-width: 640px;
  }

  .page-footer__social {
    max-width: 320px;
    text-align: center;
  }

  .page-footer__copyright {
    max-width: 165px;
    text-align: right;
  }
}
