.contacts {
  @include container;

  padding-top: 40px;
  padding-bottom: 15px;

  text-align: center;

  background: #fff;

  @media (min-width: $tablet-widths) {
    padding-top: 50px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 65px;
    padding-bottom: 10px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 400;

  text-transform: none;

  @media (min-width: $tablet-widths) {
    width: 370px;
    margin: 0 auto;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-widths) {
    width: 470px;
    margin-bottom: 14px;

    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__block {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    padding-top: 44px;
  }

  @media (min-width: $desktop-widths) {
    height: auto;
    justify-content: space-between;
  }
}

.contact {
  margin-bottom: 27px;

  @media (min-width: $tablet-widths) {
    width: 50%;
    margin-bottom: 48px;

    text-align: center;
  }

  @media (min-width: $desktop-widths) {
    width: 31%;
    margin: 0;
  }
}

.contact__title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet-widths) {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-widths) {
    margin-bottom: 26px;
  }
}

.contact__text {
  margin: 0;

  color: #d22856;

  font-size: 24px;
  line-height: 28px;
  font-weight: 400;

  text-decoration: none;
}

.contact-email .contact__text {
  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: #bec2c7;
    text-decoration: none;
  }
}

.contact-address {
  @media (min-width: $tablet-widths) {
    width: 35%;
    margin-bottom: 28px;
  }
}
.contact-email {
  @media (min-width: $desktop-widths) {
    order: 2;
  }
}

.contact-address {
  @media (min-width: $desktop-widths) {
    width: 25%;
    order: 1;
  }
}

.map {
  display: block;
  height: 200px;

  background-image: url(../../img/bg-triangle-white-footer.svg),
                    url(../../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center 0, center;
  background-size: 100% 35px, cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../../img/bg-triangle-white-footer.svg),
                      url(../../img/bg-map-mobile@2x.png);
  }

  @media (min-width: $tablet-widths) {
    height: 380px;

    background-image: url(../../img/bg-triangle-white-footer.svg),
                      url(../../img/bg-map-tablet@1x.jpg);
    background-size: 100% 68px, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../../img/bg-triangle-white-footer.svg),
                    url(../../img/bg-map-tablet@2x.png);
    }
  }

  @media (min-width: $desktop-widths) {
    height: 500px;

    background-image: url(../../img/bg-triangle-white-footer.svg),
                      url(../../img/bg-map-desktop@1x.jpg);
    background-size: 100% 115px, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../../img/bg-triangle-white-footer.svg),
                    url(../../img/bg-map-desktop@2x.png);
    }
  }
}

.page-footer__part-bottom {
  display: none;

  flex-direction: column;
  align-items: center;

  @include container;

  padding-bottom: 34px;
  padding-top: 41px;

  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 31px;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 56px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__part-bottom--photo {
  display: flex;

  @media (min-width: $tablet-widths) {
    padding-top: 43px;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 106px;
  }
}

.page-footer__logo {
  width: 150px;

  @media (min-width: $desktop-widths) {
    max-width: 640px;
  }
}

.page-footer__logo-link {
  display: block;
  width: 150px;
  height: 40px;

  .page-footer__logo-desktop {
      display: none;
    }

  @media (min-width: $desktop-widths) {
    .page-footer__logo-desktop {
      display: block;
    }
    .page-footer__logo-mobile {
      display: none;
    }
    .pink-blue,
    .star-blue {
      fill: #283645;
    }

    .star-pink,
    .glasses-pink {
      fill: #d22856;
    }

    &:hover {
      .pink-blue,
      .star-blue {
        fill: #d22856;
      }
    }

    &:active {
      .pink-blue,
      .star-blue {
      fill: #283645;
      opacity: 0.3;
      }

      .star-pink,
      .glasses-pink {
        opacity: 0.3;
      }
    }
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 180px;

  text-align: center;

  @media (min-width: $desktop-widths) {
    max-width: 320px;

    text-align: center;
  }
}

.social__btn {
  @include hidden-text;

  display: block;
  width: 47px;
  height: 47px;

  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border: 3px solid #e9ebec;
    opacity: 0.3;
  }
}

.social__btn--tw {
  background-image: url(../../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: 15px 17px;
}

.social__btn--fb {
  background-image: url(../../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: 19px 13px;
}

.social__btn--ytb {
  background-image: url(../../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: 16px 16px;
}


.page-footer__copyright {
  font-size: 0;
  text-align: right;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-widths) {
    max-width: 165px;
    padding-left: 0;
    padding-top: 10px;
  }
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 13px;

  font-size: 15px;
  line-height: 35px;

  @media (min-width: $desktop-widths) {
    margin-right: 19px;

    font-size: 18px;
  }
}

.copyright__link {
  font-size: 15px;
  line-height: 35px;

  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 35px;

  &:hover svg {
    fill: #283645;
  }

  &:active svg {
    fill: #bec2c7;
  }
}


/*--------СТРАНИЦА С ФОРМОЙ--------*/

.page-footer__part-bottom--form {
  display: flex;

  @media (min-width: $tablet-widths)  {
    flex-direction: row;
  }
}

.page-footer__logo--form {
  margin-bottom: 40px;

  @media (min-width: $tablet-widths) {
    margin: 0;
  }
}

.page-footer__social--form {
  margin-bottom: 30px;

  @media (min-width: $tablet-widths) {
    margin: 0;
  }
}


/*-------СТРАНИЦА С ФОТО-------*/

.page-footer__socials--photo {
  display: flex;
  padding-top: 43px;

  @media (min-width: $tablet-widths) {
    flex-direction: row;
    padding-top: 40px;
  }

  @media (min-width: $desktop-widths) {
    padding-top: 108px;
    padding-bottom: 70px;
  }
}

.page-footer__logo--photo {
  margin-bottom: 39px;
}

.page-footer__social--photo {
  margin-bottom: 32px;
}

.page-footer__copyright--photo {
  display: flex;
}
