.popup {
  display: none;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  align-items: center;
  justify-content: center;
  overflow: auto;
  margin: auto;

  max-width: 320px;
  padding-top: 45px;

  background: #fff;

  box-sizing: border-box;

  @media (min-width: $tablet-widths) {
    max-width: 460px;
  }

  @media (min-width: $desktop-widths) {
    max-width: 780px;
  }
}

/*------- КЛАСС ДЛЯ JS -------*/
.popup--active {
  display: flex;
}

.popup--success {
  max-height: 380px;

  @media (min-width: $tablet-widths) {
    max-height: 430px;
  }


  @media (min-width: $desktop-widths) {
  max-width: 780px;
  }
}

.popup--failed {
  max-height: 290px;

  @media (min-width: $tablet-widths) {
    max-height: 360px;
  }

  @media (min-width: $desktop-widths) {
    max-width: 460px;
  }
}

.popup--failed .popup__name {
  @media (min-width: $desktop-widths) {
    max-width: 250px;
  }
}

.popup__content-top {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-widths) {
    max-width: 460px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.popup--success .popup__content-top {

  @media (min-width: $tablet-widths) {
    padding-bottom: 22px;
  }
}

.popup--failed .popup__content-top {

  @media (min-width: $tablet-widths) {
    padding-bottom: 26px;
  }
}

.popup__name {
  margin: 0;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-widths) {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-widths) {
    max-width: 460px;
  }
}

.popup__text {
  margin: 0;

  text-align: center;

  @media (min-width: $tablet-widths) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-widths) {
    max-width: 460px;
  }
}

.popup__content-bottom {
  padding-top: 50px;
  padding-bottom: 50px;

  background: #f2f2f2;
}

.popup--failed .popup__content-bottom {
  padding-top: 0;

  background: #fff;
}

.popup__wrapper-btn {
  @media (min-width: $tablet-widths) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.popup__btn {
  @include btn;
  width: 100%;
  padding: 16px 5px;

  background: #2aab6d;
  color: #ffffff;

  border-radius: 4px;
  text-transform: uppercase;
}
