.popup {
  padding: 40px 0 0;
  outline: 1px solid #c91353;
}

.popup__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.popup__wrapper-btn {
  padding: 50px 0;
  background: #f2f2f2;
}

.popup__btn {
  @include btn;
  padding: 5px 20px;
  background: #2aab6d;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}
