.prices {
  position: relative;

  padding-top: 90px;
  padding-bottom: 100px;
/*  background: #f2f2f2;*/

 /* overflow: hidden;*/

  @include container;
}

.price {
  width: 1035px;
  position: absolute;
  /*left: -239px;*/
  /*background: #ffffff;*/
}

.cell-name {

}

.tariff {
    padding: 18px 5px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

    /*background: #283645;*/

    color: #ffffff;
    text-transform: uppercase;
}

.tariff-price {
    padding: 19px 22px;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400px;

    color: #ffffff;
}


/*--------ПЛАНШЕТНАЯ ВЕРСИЯ-------*/
@media ($tablet-widths) {

}


/*-------ДЕСКТОПНАЯ ВЕРСИЯ-------*/
@media ($desktop-widths) {

}
