.research {
  display: none;

  @include container;

  text-align: left;

  padding-top: 96px;
  padding-bottom: 30px;

  background-image: url(../../img/icon-editor-diagram-fill.svg),
                    url(../../img/icon-timer.svg);
  background-size: 200px auto, 240px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 40px 120px, 20px 60px;

  @media (min-width: $tablet-widths) {
    display: flex;
    justify-content: space-between;

    padding-top: 100px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-widths) {
    display: flex;
    justify-content: flex-end;
    padding-top: 140px;

    padding-bottom: 110px;
  }
}

.research__timer {
  @media (min-width: $tablet-widths) {
    width: 240px;
    min-height: 240px;
    display: flex;

  }

  @media (min-width: $desktop-widths) {
    width: 575px;
  }
}

.research__timer-number {
  font-size: 96px;
  line-height: 100px;
  font-weight: 700;

  color: #d22856;

  margin: auto;
}

.research__content {
  @media (min-width: $tablet-widths) {
    width: 310px;
  }

  @media (min-width: $desktop-widths) {
    width: 575px;
  }
}

.research__title {
  @media (min-width: $tablet-widths) {
    width: 168px;
    margin: 0;
    margin-bottom: 12px;

    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }

  @media (min-width: $desktop-widths) {
    width: 100%;
    margin: 0;
    margin-bottom: 21px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
}

.research__text {
  @media (min-width: $tablet-widths) {
    margin: 0;
    margin-bottom: 10px;

    line-height: 24px;
  }

  @media (min-width: $desktop-widths) {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  @media (min-width: $tablet-widths) {
    font-size: 15px;

    color: #d22856;
  }

  @media (min-width: $desktop-widths) {
    font-size: 18px;
    line-height: 30px;
  }
}
