.research {
  display: none;

  @media (min-width: $tablet-widths) {
    display: block;
  }

  @media (min-width: $desktop-widths) {
    background: #f2f2f2;
  }
}

.research-wrapper {
  @include container;

  @media (min-width: $tablet-widths) {
    display: flex;
    justify-content: space-between;

    background-image: url(../../img/icon-editor-diagram-fill.svg),
                      url(../../img/icon-timer.svg);
    background-size: 200px, 240px;
    background-repeat: no-repeat, no-repeat;
    background-position: 40px 120px, 20px 60px;
  }

  @media (min-width: $desktop-widths) {
    display: flex;
    justify-content: space-between;

    background-size: 252px, 300px;
    background-position: 24px 98px, 0 28px;
  }
}

.research__timer {
  @media (min-width: $tablet-widths) {
    width: 240px;
    min-height: 254px;
    display: flex;
    margin-top: auto;
  }

  @media (min-width: $desktop-widths) {
    width: 275px;
    margin-top: 0;
  }
}

.research__timer-number {
  @media (min-width: $tablet-widths) {
    margin: 0 auto;
    margin-top: 75px;

    font-size: 96px;
    line-height: 100px;
    font-weight: 700;

    color: #d22856;
  }

  @media (min-width: $desktop-widths) {
    margin-top: 150px;

    font-size: 120px;
    line-height: 140px;
  }
}

.research__content {
  text-align: left;

  @media (min-width: $tablet-widths) {
    width: 310px;
    padding-top: 100px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-widths) {
    width: 565px;
    padding-top: 120px;
    padding-bottom: 110px;
  }
}

.research__title {
  @media (min-width: $tablet-widths) {
    width: 168px;
    margin: 0;
    margin-bottom: 12px;

    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }

  @media (min-width: $desktop-widths) {
    width: 100%;
    margin: 0;
    margin-bottom: 21px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
}

.research__text {
  @media (min-width: $tablet-widths) {
    margin: 0;
    margin-bottom: 10px;

    line-height: 24px;
  }

  @media (min-width: $desktop-widths) {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  @media (min-width: $tablet-widths) {
    font-size: 15px;

    color: #d22856;
  }

  @media (min-width: $desktop-widths) {
    font-size: 18px;
    line-height: 30px;
  }
}
