.research {
  display: none;
}


/*--------ПЛАНШЕТНАЯ ВЕРСИЯ-------*/

@media (min-width: $tablet-widths) {
  .research {
    display: block;
    padding-top: 96px;
    padding-bottom: 30px;

    text-align: left;

    background-image: url(../../img/timer.png);
    background-repeat: no-repeat;
    background-position: 20px 58px;
  }

  .research__wrapper {
    @include container;

    display: flex;
    justify-content: flex-end;
  }

  .research__content {
    width: 310px;

  }

  .research__title {
    width: 168px;
    margin: 0;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }

  .research__text {
    margin: 0;
    margin-bottom: 10px;

    line-height: 24px;
  }

  .research__link {
    font-size: 15px;

    color: #d22856;
  }
}

/*-------ДЕСКТОПНАЯ ВЕРСИЯ-------*/

@media (min-width: $desktop-widths) {
  .research {
    display: flex;
    justify-content: flex-end;
    padding-top: 140px;

    padding-bottom: 110px;

   /* background: #f2f2f2;*/
    background-image: url(../../img/timer.png);
    background-repeat: no-repeat;
    background-position: 40px 86px;
  }

  .research__content {
    width: 575px;
  }

  .research__title {
    width: 100%;
    margin: 0;
    margin-bottom: 21px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .research__text {
    margin: 0;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;

    color: #d22856;
  }
}
