.research {
  display: none;

  text-align: left;

  background-image: url(../../img/timer.png);
  background-repeat: no-repeat;
  background-position: 20px 58px;

  @media (min-width: $tablet-widths) {
    display: block;
  }
}

.research__wrapper {
  @include container;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 96px;
    padding-bottom: 30px;

    box-sizing: border-box;

    @media (min-width: $tablet-widths) {

  }
}

.research__content {
  @media (min-width: $tablet-widths) {
    width: 310px;
  }
}

.research__title {
  @media (min-width: $tablet-widths) {
    width: 168px;
    margin: 0;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }
}

.research__text {
  @media (min-width: $tablet-widths) {
    margin: 0;
    margin-bottom: 10px;

    line-height: 24px;
  }
}

.research__link {
  @media (min-width: $tablet-widths) {
    font-size: 15px;

    color: #d22856;
  }
}

/*-------ДЕСКТОПНАЯ ВЕРСИЯ-------*/

@media (min-width: $desktop-widths) {
  .research {
    display: flex;
    justify-content: flex-end;
    padding-top: 140px;

    padding-bottom: 110px;

   /* background: #f2f2f2;*/

  }

  .research__content {
    width: 575px;
  }

  .research__title {
    width: 100%;
    margin: 0;
    margin-bottom: 21px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .research__text {
    margin: 0;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;

    color: #d22856;
  }
}
