.reviews {
  @include container;

  position: relative;

  padding-top: 40px;
  padding-bottom: 88px;

  @media (min-width: $tablet-widths) {
    padding-top: 96px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-widths) {
    padding-left: 0;
    padding-right: 0;
  }
}

.reviews__list {
  @include drop;
}

.review {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.review-client__name {
  margin: 0;
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.review-client__info {
  display: none;

  line-height: 30px;
}

.reviews-slider__nav {
  position: absolute;

  left: 50%;
  margin-left: -30px;
  bottom: 38px;

  @media (min-width: $tablet-widths) {
    bottom: 15px;
  }
}

.review__text {
  margin: 0;

  line-height: 30px;
}

.reviews-slider__link {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 14px;

  border-radius: 50%;

  background: #bec2c7;

  @include hidden-text;
}

.reviews-slider__link--back {
  margin-right: 0;
}

.reviews-slider__link--active {
  width: 6px;
  height: 6px;
  border: 3px solid #2d3b49;
  border-radius: 50%;

  background: #ffffff;
}


/*--------ПЛАНШЕТНАЯ ВЕРСИЯ-------*/
@media (min-width: $tablet-widths) {

  .review-client__info {
    display: block;
    margin: 0;

    font-size: 14px;
    line-height: 30px;
  }

  .review-client__name {
    margin-bottom: 3px;

    font-size: 20px;
    line-height: 30px;
  }

  .review__text {
    margin-bottom: 33px;

    font-size: 18px;
    line-height: 30px;

    order: -1;
  }
}


/*-------ДЕСКТОПНАЯ ВЕРСИЯ-------*/

@media (min-width: $desktop-widths) {
  .reviews {
    padding-top: 187px;
    padding-bottom: 49px;
  }

  .review {
    width: 700px;
    margin: 0 auto;
  }

  .review__text {
    margin-bottom: 38px;
  }

  .review-client__name {
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 1px;
  }

  .review-client__info {
    font-size: 18px;
    line-height: 30px;
  }
  .reviews-slider__nav {
    display: flex;
    justify-content: space-between;
    width: 920px;

    left: 50%;
    margin-left: -460px;
    bottom: 165px;
  }

  .reviews-slider__link {
    display: none;
  }

  .reviews-slider__link--forward,
  .reviews-slider__link--back {
    display: block;
    width: 26px;
    height: 50px;
    margin: 0;

    border: none;
    background: none;
  }

}
